html {
  box-sizing: border-box;
}

*,
*::before,
*:after {
  box-sizing: inherit;
}

body {
  background: #2c2141;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main {
  background: #f8f8f8;
  width: 624px;
  border-radius: 16px;
  margin: 16px;
  padding: 32px;
}

.article {
  display: flex;
  align-items: flex-start;
}

.article__header {
  margin-bottom: 24px;
}

.article__link {
  color: #e20613;
  text-decoration: none;
}

.article__picture {
  margin-right: 32px;
  width: 148px;
  height: 148px;
  border-radius: 74px;
}

.article__text {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.article__text--bottom {
  margin-bottom: 22px;
}

.article__title {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  margin: 0;
}

.article__title-description {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #545454;
  margin: 0;
}

.special {
  color: #ed6d05;
  font-weight: normal;
}
