html {
  box-sizing: border-box;
}

*,
*::before,
*:after {
  box-sizing: inherit;
}

body {
  background: #2c2141;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.main {
  background: #f8f8f8;
  width: 624px;
  border-radius: 16px;
  margin: 16px;
  padding: 32px;
}

.article {
}

.article__link {
  color: #e20613;
}

.article__picture {
}

.article__text {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.article__text--special {
  color: #ed6d05;
}

.article__title {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  margin: 0;
}

.article__title-description {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  color: #545454;
  margin: 0;
}
